.imgWrapper {
    width: inherit;
    height: inherit;
    position: relative;
    z-index: 0;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    z-index: 1;
    color: white;
    align-items: center;
}

.topWrapper {
    width: 100%;
    height: clamp(10rem, 30vh, 17rem);
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: min(7vw, 70px);
    text-decoration: inherit;
    color: inherit;
}

.subtitle {
    font-size: min(2.1vw, 21px);
}