.imgWrapper {
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: 0;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    z-index: 1;
    color: white;
    align-items: center;
}

.topWrapper {
    width: 100%;
    height: 275px;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: min(7vw, 70px);
}

.subtitle {
    font-size: min(2.1vw, 21px);
}