@use '../styles/vars';

.toolbar {
    margin-top: 2px;
    display: grid;
    grid-template-columns: repeat(4, 2.5rem);
    background-color: vars.$main-medium;

    button {
        all: unset;
        padding: 0.3rem;
        padding-bottom: calc(0.3rem - 2px);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2px;
        margin-right: 0;
    }
    button:last-child {
        margin-right: 2px;
    }
}

.editor {
    font-size: 1em;
    height: 40rem;
}

.wrapper {
    background-color: white;
    height: 100%;
    margin-bottom: 0.25rem;
}