.bottomWrapper {
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    background: #eeeeee;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;

    li {
        margin-right: min(2vw, 40px);
        font-size: min(2vw, 15px);
        letter-spacing: 1px;
    }
}